## This file contains pin mappings for the 2020 Creality CR10-V2. To use
# this config, the firmware should be compiled for the AVR atmega2560.
#
# CR10V2 v2.5.2 board Klipper config, by Fran6p. Inspiration from /u/VonThing
#  Uses bltouch and multiple other config files. 

# See the example.cfg file for a description of available parameters.

# Machine definitions
#[include ./cr10v2_mb252.cfg]
[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^ar3
position_endstop: 0
position_max: 310
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^ar14
position_endstop: 0
position_max: 310
homing_speed: 50

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
step_distance: .0025
#endstop_pin: ^ar18
#position_endstop: 0
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -1.5

[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
# BMG sans reduction (140 pas)
#step_distance: 0.007142
# BMG Reducteur 3:1 (415 pas)
step_distance: 0.00241
nozzle_diameter: 0.400
filament_diameter: 1.750
#max_extrude_cross_section: .64
# permettre chrgt / dechrgt filament (bowden Creality 440, Flying Xtruder 200 (7 + 130))
max_extrude_only_distance: 200.0
#max_extrude_only_velocity:
#max_extrude_only_accel:
#pressure_advance: 0.17325 (BMG sans reduction)
#pressure_advance: 0.40 (plage de 0.38 => 0.435 avec input_shaper "manuel")
pressure_advance: 0.40
pressure_advance_smooth_time: 0.040
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
#control: pid
#pid_Kp: 19.47
#pid_Ki: 1.59
#pid_Kd: 59.40
min_extrude_temp: 170
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: ar8
#sensor_type: ATC Semitec 104GT-2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
#control: pid
#pid_Kp: 690.34
#pid_Ki: 111.47
#pid_Kd: 1068.83
min_temp: 0
max_temp: 110

[fan]
pin: ar9

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial: /dev/ttyUSB0
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
#max_accel: 7000
#max_accel_to_decel: 7000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5

[display]
lcd_type: st7920
cs_pin: ar16
sclk_pin: ar23
sid_pin: ar17
encoder_pins: ^ar33, ^ar31
click_pin: ^!ar35


#Input Shaper
#[include ./input_shaper.cfg
[input_shaper]
shaper_freq_x: 64.5
shaper_freq_y: 75.75
shaper_type: mzv

# BLTouch 
#[include ./bltouch.cfg]
# BLTouch 
[bltouch]
# CR10V2, connexion sur ZMAXPIN (19)
sensor_pin: ^ar19
control_pin: ar11
pin_move_time: 0.680
x_offset: 47
y_offset: 0
# Increase Z_Offset to lower nozzle closer to bed. PLA 1.55
#z_offset: 1.55
speed: 60
samples: 2
#sample_retract_dist: 2
#samples_result: average
#samples_tolerance: 0.100
#samples_tolerance_retries: 0

# Calibration
#[include ./calibration.cfg]
# File to add calibration possibilities, which are also called in the menu config.

# This adds a bed screws adjust GCode, that moves the nozzle around for you so you can paper adjust. Values are for cr10v2
[bed_screws]
screw1: 35,40
screw1_name: Avant gauche
screw2: 35,270
screw2_name: Arriere gauche
screw3: 275,270
screw3_name: Arriere droit
screw4: 275,40
screw4_name: Avant droit

# This adds a screw tilt adjust command that probes certain points on the bed and recommends new bed screw positions.
[screws_tilt_adjust]
screw1: 35,40
screw1_name: Avant gauche
screw2: 35,270
screw2_name: Arriere gauche
screw3: 275,270
screw3_name: Arriere droit
screw4: 275,40
screw4_name: Avant droit
horizontal_move_z: 10
speed: 250
screw_thread: CW-M4

[bed_mesh]
speed: 100
probe_count: 5,5
mesh_min: 57,10
mesh_max: 290,290
horizontal_move_z: 5
mesh_pps: 2,2
#algorithm: lagrange
#fade_start: 1
#fade_end: 10
#fade_target: 0

# Macros 
#[include ./macros.cfg]
# Adds print macros such as start print and end print.
# in cura, as start gcode you can define "START_PRINT" and end gcode "END_PRINT"


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
variable_T_BED: 60
variable_T_EXTRUDER: 200
gcode:
    M117 Homing
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Use the bed mesh
    #G29
    BED_MESH_PROFILE LOAD=cr10v2
    # Move the nozzle near the bed
    G1 X15 Y20 Z5 F6000
    
    M117 Waiting for temperature
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature < params.T_BED|float*0.85 %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue  
    {% endif %}
    
    M140 S{T_BED} 
    M104 S170
    M190 S{T_BED}
	M109 S{T_EXTRUDER}
    
    # Prime line
    PURGE
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    M117 Done printing :)
    # move z up
    G91
    G1 E-2 Z+10 F3000
    # absolute xy 
    G90
    G1 X5 Y295 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR

# prime the nozzle 
[gcode_macro PURGE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X2 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X2 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X3 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X3 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
 
# G29 => (1) home all (2) get bed mesh (3) move nozzle to corner so it doesnt ooze on the bed while heating up.
[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=cr10v2

# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z10 F600 # move up 10 mm
    G90
    G1 X150 Y10 F4000 # move to park position
    RESTORE_GCODE_STATE NAME=parking

# LOW_TEMP_CHECK checks if there is a setpoint for the  extruder. Untested! 
# - If this setpoint is reached, continue. 
# - If not, heat to setpoint.
# - If no setpoint, heat to parameter T (default@200)
[gcode_macro LOW_TEMP_CHECK T]
default_parameter_T: 200
gcode: 
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}
    
# load filament
[gcode_macro M701]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    LOW_TEMP_CHECK
    G1 E10 F1500   # Traction lente 10mm @ 25mm/s
    G1 E200 F2100  # longueur du tube bowden (~430mm) Flying Xtruder with BMG 50:17 (200mm)
    G1 E50 F600    # purge --> lentement 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=loading_filament
    
# unload filament
[gcode_macro M702]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M125 # park
    M117 Unloading Filament 
    LOW_TEMP_CHECK
    G91 # set relative
    G1 E5 F100  # preparation retrait
    G92 E0.0
    G1 E-15 F1500  # retraction primaire
    G1 E-55 F1800  # retrait hors tete  
    G1 E-200 F2100 # longueur du tube bowden (430mm) or for flying Xtruder with BMG 50:17 (200mm) 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=unloading_filament

# filament change 
[gcode_macro M600]
gcode:
    M117 Filament Change
    M118 Filament Change
    SAVE_GCODE_STATE NAME=filament_change
    PAUSE
    LOW_TEMP_CHECK
    G91 # relative
    G1 E-1 F300 # retract 1
    M125 # park
    M702 # unload

    M117 New filament
    M118 New filament
    COUNTDOWN TIME=150 MSG="Switch"
    M701
    COUNTDOWN TIME=10 MSG="Clean"
    RESUME
    M117 Resuming
    M118 Resuming
    RESTORE_GCODE_STATE NAME=filament_change
    M117 Printing..
    M118 Printing..

[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    # countdown 
    {% for s in range(TIME|int, 0, -1) %}
        # dwell 1 second
        G4 P1000
        # echo
        M117 {params.MSG} {s}s
        M118 {params.MSG} {s}s
    {% endfor %}

# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.
[output_pin BEEPER_pin]
pin: ar37
#   ar37 is the default RAMPS/MKS pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
scale: 1000
#   PWM parameter will be in the range of (0-1000 Hz).
#   Although not pitch perfect.

[gcode_macro M300]
default_parameter_S: 1000
#   Use a default 1kHz tone if S is omitted.
default_parameter_P: 100
#   Use a 10ms duration is P is omitted.
gcode:
    SET_PIN PIN=BEEPER_pin VALUE={S}
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

# Menu items
#[include ./menu.cfg] 

# Other
#[include ./other.cfg]
## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: ~/.octoprint/uploads/

#DWC2
#[virtual_sdcard]
#path: /home/pi/sdcard

[safe_z_home]
home_xy_position: 150,150
speed: 60.0
z_hop: 10.0
z_hop_speed: 10.0

# Detecteur fin filament
[filament_switch_sensor my_sensor]
pause_on_runout: True
runout_gcode:
      M600
switch_pin: ^ar2

[firmware_retraction]
retract_length: 2.6
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 20

# Support for gcode arc (G2/G3) commands.
[gcode_arcs]
resolution: 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.640
#*# pid_ki = 1.554
#*# pid_kd = 105.766
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.936
#*# pid_ki = 0.967
#*# pid_kd = 1300.785
#*#
#*# [bltouch]
#*# z_offset = 1.600
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.067500, 0.055000, 0.078750, 0.070000, 0.070000
#*# 	-0.011250, -0.020000, 0.032500, 0.043750, 0.073750
#*# 	-0.062500, -0.066250, -0.018750, 0.020000, 0.052500
#*# 	-0.062500, -0.058750, -0.046250, -0.025000, 0.022500
#*# 	-0.090000, -0.097500, -0.090000, -0.071250, -0.022500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 57.0000000001
#*# max_x = 290.0
#*# min_y = 10.0000000001
#*# max_y = 290.0
#*#
#*# [bed_mesh cr10v2]
#*# version = 1
#*# points =
#*# 	0.086250, 0.066250, 0.081250, 0.076250, 0.092500
#*# 	-0.002500, -0.011250, 0.043750, 0.046250, 0.095000
#*# 	-0.057500, -0.061250, -0.010000, 0.025000, 0.045000
#*# 	-0.045000, -0.062500, -0.037500, -0.003750, 0.027500
#*# 	-0.070000, -0.093750, -0.060000, -0.045000, -0.002500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 57.0000000001
#*# max_x = 290.0
#*# min_y = 10.0000000001
#*# max_y = 290.0
